[submodule "ctrlp"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim-multiples-cursors"]
	path = .vim/bundle/vim-multiples-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
