[Unit]
Description={{DESCRIPTION}}
Documentation={{DOCUMENTATION}}

[Service]
Type=oneshot
{{ENVIRONMENT}}
ExecStart={{EXECSTART}}

[Install]
WantedBy={{WANTEDBY}}
